
<md-card>
  <md-grid-list cols="1" rowHeight="50">

  <md-grid-tile>

  <md-input-container>
    <input md-input placeholder="Store No#">
  </md-input-container>
  </md-grid-tile>
  </md-grid-list>
</md-card>
<md-card>
  <md-toolbar color= "primary">Stores</md-toolbar>
  <md-grid-list cols="4" rowHeight="40">
    <md-grid-tile *ngFor="let store of stores | async">
      <a [routerLink]="[store.$key]" md-button color="primary">{{'#'+store.$key + ', ' + store.city + ' - Account: ' + store.account}}</a>
    </md-grid-tile>
  </md-grid-list>
</md-card>