<md-card>
  <md-toolbar color= "primary">{{'#'+ (store | async)?.$key + ', ' + (store | async)?.city + ' - Account: ' + (store | async)?.account}}</md-toolbar>
        <div>
          <table class="table-fill">
        <thead>
          <tr>
            <th class="text-left" *ngFor="let col of table_columns">{{col}}</th>
          </tr>
        </thead>
        <tbody class="table-hover">
          <template let-row ngFor [ngForOf]="table_data">
            <tr>
              <td class="text-left" *ngFor="let data of row">{{data}}</td>
            </tr>
          </template>
        </tbody>
      </table>
        </div>
</md-card>